<div role="dialog" aria-live="polite" aria-label="cookieconsent" aria-describedby="cookieconsent:desc" class="cc-window cc-floating cc-type-info cc-theme-classic cc-bottom cc-right cc-color-override--1762072787">
    <!--googleoff: all-->
    <span id="cookieconsent:desc" class="cc-message">
        <h1>Cookies</h1>
        This site uses cookies
        <!-- TODO: remove role="button" -->
        <a aria-label="learn more about cookies" role="button" tabindex="0" class="cc-link" href="https://grodev.sub.uni-goettingen.de/cookiespolicy.jsp" target="_blank">Find out more</a>
    </span>
    <div class="cc-compliance">
        <!-- TODO: use BUTTON instead of A -->
        <a aria-label="dismiss cookie message" role="button" tabindex="0" class="cc-btn cc-dismiss">OK!</a>
    </div>
    <!--googleon: all-->
</div>

<script src="{{ site.baseurl }}/assets/js/cookieconsent.min.js"></script>
<!-- TODO: can we include this script in a JS file? -->
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#edeff5",
                    "text": "#838391"
                },
                "button": {
                    "background": "#4b81e8"
                }
            },
            "position": "bottom-right",
            "theme": "classic",
            "content": {
                "message": "<h1>Cookies</h1> This site uses cookies",
                "dismiss": "OK!",
                "link": "Find out more",
                "href": "cookiespolicy.jsp"
            }
        })
    });
</script>
