<div class="detail__quote">
    <p>
    <i>2016</i> | <i>Journal Article</i><br />
    <i>
        <em>Mohamed, Belal A., Schnelle, Moritz, Khadjeh, Sara, Lbik, Dawid, Herwig, Melissa, Linke, Wolfgang A., Hasenfuss, Gerd & Toischer, Karl</em>
    </i> (2016) <br />
    <i>European Journal of Heart Failure</i>
    , <i>18</i>(4), 362 -371.
    </p>
    <!-- TODO: remove inline style -->
    <div class="" style="padding-top: 1rem;">
        <strong>Citation Style</strong>
        <!-- TODO: remove inline style -->
        <div class="btn-group btn-group-sm" role="group" style="margin-left: 0.5rem;">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-default">APA</button>
            <button type="button" class="btn btn-default">Chicago</button>
        </div>
    </div>
    <!-- TODO: remove inline style -->
    <div class="" style="padding-top: 1rem;">
        <strong>Links</strong>
        <!-- TODO: remove inline style -->
        <ul class="list-inline" style="display: inline; margin-left: 0.5rem;">
            <li><a target=_blank href="http://doi.org/10.1002%2Fejhf.465">DOI</a></li>
            <li><a target=_blank href="https://www.ncbi.nlm.nih.gov/pubmed/26694078">PMID</a></li>
            <li><a target=_blank href="http://europepmc.org/abstract/MED/26694078">PMC</a></li>
            <li><a target=_blank href="http://ws.isiknowledge.com/cps/openurl/service?url_ver=Z39.88-2004&amp;rft_id=info:ut/000374308700005">WoS</a></li>
        </ul>
    </div>
</div>
