<div class="detail__ref">
    <h2>Reference</h2>
    <div class="media google">
        <div class="media-left">
            <img src="/image/google-favicon-png.ico" />
        </div>
        <div id="googleCitedResult" class="media-body text-center">
            <h4 class="media-heading">Google Scholar<sup>TM</sup><br/></h4>
            <span class="metric-counter"><a data-toggle="tooltip" target="_blank" title="???jsp.display-item.citation.google.tooltip???" href="https://scholar.google.com/scholar?as_q=&as_epq=Molecular and structural transition mechanisms in long-term volume overload&as_occt=any">Check</a></span>
        </div>
    </div>
    <div class="media altmetric">
        <div class="media-left">
            <div class='altmetric-embed' data-hide-no-mentions="true" data-badge-popover="right" data-badge-type="donut" data-link-target='_blank' data-doi="10.1002/ejhf.465"></div>
        </div>
        <div class="media-body media-middle text-center">
            <h4 class="media-heading">Altmetric</h4>
        </div>
    </div>
</div>
