<div class="detail__ref">
    <h2>Reference</h2>
    <!-- <div class="media google">
        <div class="media-left">
            <img src="/image/google-favicon-png.ico" />
        </div>
        <div id="googleCitedResult" class="media-body text-center">
            <h4 class="media-heading">Google Scholar<sup>TM</sup><br/></h4>
            <span class="metric-counter"><a data-toggle="tooltip" target="_blank" title="???jsp.display-item.citation.google.tooltip???" href="https://scholar.google.com/scholar?as_q=&as_epq=Molecular and structural transition mechanisms in long-term volume overload&as_occt=any">Check</a></span>
        </div>
    </div> -->
    <div class="ref__item">
        <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
        <div class='altmetric-embed' data-badge-type='donut' data-condensed='true' data-badge-details='right' data-doi='10.1136/bmj.39471.430451.BE'></div>
    </div>
    <div class="ref__item">
        <iframe height="26" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://api.elsevier.com/content/abstract/citation-count?doi=10.1016/S0014-5793(01)03313-0&amp;httpAccept=text/html&amp;apiKey=7f59af901d2d86f78a1fd60c1bf9426a"></iframe>
    </div>
</div>
