<div class="detail__download">
    <h2>Export</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    <form target="blank" class="form-inline"  id="exportform" action="/references">
        <div class="btn-group-vertical btn-group-sm" role="group" style="width: 100%">
            <input type="button" class="btn btn-default" name="" value="Refman">
            <input type="button" class="btn btn-default" name="" value="Endnote">
            <input type="button" class="btn btn-default" name="" value="Bibtex">
            <input type="button" class="btn btn-default" name="" value="RefWorks">
            <input type="button" class="btn btn-default" name="" value="Excel">
            <input type="button" class="btn btn-default" name="" value="CSV">
        </div>
    </form>
</div>
