<div class="detail__ref">
    <h2>Reference</h2>

    <div class="ref__item">
        <script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
        <div data-badge-type='donut' class='altmetric-embed' data-badge-popover='left' data-doi='10.1016/S0140-6736(11)61619-x'></div>
    </div>
    <div class="ref__item">
        <iframe height="26" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://api.elsevier.com/content/abstract/citation-count?doi=10.1016/S0014-5793(01)03313-0&amp;httpAccept=text/html&amp;apiKey=7f59af901d2d86f78a1fd60c1bf9426a"></iframe>
    </div>
    <div class="ref__item">
        Web of Science<sup>TM</sup> Core Collection Times Cited: 35
    </div>
    <div class="ref__item ref__item--google-scholar">
        <a href="#0"><img src="/assets/img/logo_google_scholar.svg"></a>
    </div>
</div>
