<div class="container footer__totop">
    <div class="row">
        <div class="col-xs-12">
            <a href="#top" class="btn btn-link"><span class="glyphicon glyphicon-menu-up"></span> to top</a>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <!-- TODO: is H3 correct? -->
                <h3>About</h3>
                <a href="#0">What is GRO?</a><br>
                <a href="#0">Policy</a><br>
                <a href="#0">FAQ</a><br>
                <a href="#0">Imprint</a><br>
                <a href="#0">Privacy</a>
            </div>
            <div class="col-xs-12 col-sm-4">
                <!-- TODO: is H3 correct? -->
                <h3>Contact</h3>
                <address>
                    <strong>Support Team</strong><br>
                    <!-- TODO: update contact details -->
                    Sabine Witt / Daniel Beucke<br>
                    <a href="tel:+495513913432">+49 551 39 13 432</a><br>
                    <a href="mailto:gro-redaktionsteam@sub.uni-goettingen.de">gro-redaktionsteam@sub.uni-goettingen.de</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4 footer__logos">
                <h3>More</h3>
                <a href="https://www.uni-goettingen.de/">
                    <!-- TODO: missing ALT text at IMG -->
                    <!-- TODO: use SVG instead of PNG -->
                    <img src="{{ site.baseurl }}/assets/img/logo_uni_goe_white.svg" alt="">
                </a>
                <a href="https://www.sub.uni-goettingen.de/">
                    <!-- TODO: missing ALT text at IMG -->
                    <!-- TODO: use SVG instead of PNG -->
                    <img src="{{ site.baseurl }}/assets/img/logo_sub_goe_left_white.svg" alt="">
                </a>
                <a href="http://www.eresearch.uni-goettingen.de/">
                    <!-- TODO: missing ALT text at IMG -->
                    <!-- TODO: use SVG instead of PNG -->
                    <img src="{{ site.baseurl }}/assets/img/logo_era_white.svg" alt="">
                </a>
                <a href="https://www.goettingen-campus.de//">
                    <!-- TODO: missing ALT text at IMG -->
                    <!-- TODO: use SVG instead of PNG -->
                    <img src="{{ site.baseurl }}/assets/img/logo_goecampus.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</footer>
