<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="https://grodev.sub.uni-goettingen.de/">
                <!-- TODO: missing ALT on IMG -->
                <img src="{{ site.baseurl }}/assets/img/logo_gro_all_white.svg" class="visible-md visible-lg hidden-sm hidden-xs" alt="">
                <!-- TODO: missing ALT on IMG -->
                <img id="brand-image" src="{{ site.baseurl }}/assets/img/logo_gro_letter_white.svg" class="visible-sm visible-xs hidden-md hidden-lg" alt="">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown hidden-xs hidden-lg">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore by <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
                <li id="home-top-menu" class="">
                    <a href="https://grodev.sub.uni-goettingen.de/">
                        <span class="hidden-md hidden-sm">Help</span>
                        <span class="hidden-lg hidden-xs">
                        <span class="sr-only">Help.</span>
                        <span class="glyphicon glyphicon-question-sign"></span>
                        </span>
                    </a>
                </li>
                <!-- <li>
                    <a href="#0"><span class="glyphicon glyphicon-log-in"></span> Log-In</a>
                </li> -->
                <li id="user-top-menu" class="dropdown">
                    <a href="https://grodev.sub.uni-goettingen.de/#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://grodev.sub.uni-goettingen.de/mydspace">My DSpace</a>
                        </li>
                        <li>
                            <a href="https://grodev.sub.uni-goettingen.de/subscribe">Receive email updates</a>
                        </li>
                        <li>
                            <a href="https://grodev.sub.uni-goettingen.de/profile">Edit Account details</a>
                        </li>
                        <li>
                            <a href="https://grodev.sub.uni-goettingen.de/profile"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
                        </li>
                    </ul>
                </li>
                <li id="language-top-menu">
                    <a onclick="javascript:document.repost.locale.value=&#39;de&#39;;document.repost.submit();" href="https://grodev.sub.uni-goettingen.de/?locale=de">
                        <span class="glyphicon glyphicon-globe"></span> DE <span class="sr-only">Zu deutscher Sprache wechseln.</span>
                    </a>
                </li>
                <li class="hidden-lg">
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </li>
            </ul>
        </div>
        <div class="nav__the-list hidden-xs hidden-sm hidden-md">
            <div class="row">
                <div class="col-lg-8">
                    <ul class="list-inline">
                        <li>
                            <a href="#0">Research Outputs</a>
                        </li>
                        <li>
                            <a href="#0">Researchers</a>
                        </li>
                        <li>
                            <a href="#0">Projects</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4">
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                      </div>
                      <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>
