<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1><img src="{{ site.baseurl }}/assets/img/logo_gro_all_blue.svg" class="home__logo"></h1>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <p>Scientific communication takes place in publications and publications tell the profile of Göttingen Campus. What topics do our researchers work on, where do they publish and with whom? Learn more about the power of Göttingen Campus on our public research database Göttingen Research Online that contains information of 5693 publications and 162 authors.</p>
        </div>
        <div class="col-xs-12 col-sm-5">
            <p>Our service is currently under construction and will include more authors, their publications and also multiple Göttingen Campus or external affiliations over time. Please get in touch with us if you wish to have your publication list included with special priority.</p>
        </div>
    </div>
</div>
