<div class="container home__features">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="text-xs-center">
                <h2>Features</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
            <h3>Feature 1</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <p><img src="{{ site.baseurl }}/assets/img/benjamin-child-17946.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
            <h3>Feature 2</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-sm-push-6">
            <p><img src="{{ site.baseurl }}/assets/img/stefan-stefancik-257625.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-sm-pull-6 col-md-offset-2">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 text-xs-center">
            <h3>Feature 3</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">
            <p><img src="{{ site.baseurl }}/assets/img/markus-spiske-221494.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-5">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1 ">
            <div class="text-xs-center">
                <h2>Features</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-4 text-xs-center">
            <h3>Feature 1</h3>
            <p><img src="{{ site.baseurl }}/assets/img/benjamin-child-17946.jpg"></p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-xs-center">
            <h3>Feature 2</h3>
            <p><img src="{{ site.baseurl }}/assets/img/stefan-stefancik-257625.jpg"></p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-xs-12 col-sm-4 text-xs-center">
            <h3>Feature 3</h3>
            <p><img src="{{ site.baseurl }}/assets/img/markus-spiske-221494.jpg"></p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="text-xs-center">
                <h2>Features</h2>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h3>Feature 1</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p><img src="{{ site.baseurl }}/assets/img/benjamin-child-17946.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h3>Feature 2</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-push-6">
            <p><img src="{{ site.baseurl }}/assets/img/stefan-stefancik-257625.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6 col-sm-pull-6">
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-xs-center">
            <h3>Feature 3</h3>
        </div>
        <div class="col-xs-12 col-sm-6">
            <p><img src="{{ site.baseurl }}/assets/img/markus-spiske-221494.jpg"></p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
            </blockquote>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
    </div>

</div>
