<div class="container home__search">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="text-xs-center">
                <h2>Search</h2>
            </div>
            <p>Lorem ipsum dolor sit amut.</p>
        </div>
    </div>
    <div class="row home__search__searchfor">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <form id="searchglobalprocessor" name="searchglobalprocessor" class="" action="https://grodev.sub.uni-goettingen.de/simple-search" method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search Terms" aria-describedby="search-label">
                    <span class="input-group-addon" id="search-label">Search</span>
                </div>
            </form>
        </div>
    </div>
</div>
