<div class="researcher__options">
    <div class="btn-group" role="group" aria-label="...">
        <button href="" class="btn btn-default">
            <i class="fa fa-globe"></i> Network Lab
        </button>
        <button class="btn btn-default">
            <i class="fa fa-bar-chart-o"></i> View Statistics
        </button>
        <button class="btn btn-default">
            <i class="fa fa-bell"></i> Email Alert</li>
        </button>
        <button href="" class="btn btn-default">
            <i class="fa fa-rss"></i> RSS Feed</button>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-edit"></i> Edit Profile
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a href="#"><i class="fa fa-edit"></i> Edit Researcher Page</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-book"></i> Manage Publications</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-book"></i> Manage Projects</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-search"></i> Re-Find possible items for this RP</a>
                </li>
            </ul>
        </div>
        <button href="" class="btn btn-primary">
            <i class="fa fa-user"></i> Claim Profile
        </button>
    </div>
</div>
