<div class="researcher__admininfo">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Admin Info</h3>
        </div>
        <div class="panel-body">
            <dl>
                <dt>Source ID</dt>
                <dd>LoremIpsum</dd>
                <dt>Source Reference</dt>
                <dd>INTERNAL-SUBMISSION</dd>
                <dt>Created at</dt>
                <dd>10:07:15 AM UTC on Friday, August 25, 2017</dd>
                <dt>Updated at</dt>
                <dd>10:07:15 AM UTC on Friday, August 25, 2017</dd>
            </dl>
        </div>
    </div>
</div>
