<li id="user-top-menu" class="dropdown">
    <a href="https://grodev.sub.uni-goettingen.de/#" class="dropdown-toggle" data-toggle="dropdown">
        <span class="glyphicon glyphicon-user"></span><b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="https://grodev.sub.uni-goettingen.de/mydspace">My DSpace</a>
        </li>
        <li>
            <a href="https://grodev.sub.uni-goettingen.de/subscribe">Receive email updates</a>
        </li>
        <li>
            <a href="https://grodev.sub.uni-goettingen.de/profile">Edit Account details</a>
        </li>
        <li>
            <a href="#0"><span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Administer</a>
        </li>
        <li>
            <a href="https://grodev.sub.uni-goettingen.de/profile"><span class="glyphicon glyphicon-log-out"></span> Log Out</a>
        </li>
    </ul>
</li>
