<!doctype html>
<html>
<head>
    {% include html-head.html %}
    <!-- <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css"> -->
</head>
<body class="undernavigation" dir="ltr">

{% include cookie-consent.html %}

<a class="sr-only" href="https://grodev.sub.uni-goettingen.de/#content">Skip navigation</a>

{% include header.html %}

{{ content }}

{% include footer.html %}

{% include last.html %}

</body>
</html>
