---
layout: "default"
title: "Researcher Profile"
---
<main id="content" role="main">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Windl, Otto</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include researcher_options.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% include researcher_admininfo.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include researcher_tabs.html content="1" %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {% include researcher_profile.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-9">
                <div class="researcher__publications">
                    <h2>Publications</h2>
                    <div class="researcher__publications__options">
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    <li class="disabled">
                                        <a href="#0" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#0">2</a></li>
                                    <li><a href="#0">3</a></li>
                                    <li><a href="#0">4</a></li>
                                    <li><a href="#0">5</a></li>
                                    <li>
                                        <a href="#0" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <div class="text-sm-right" style="margin: 22px 0;">
                                <button class="btn btn-default btn-sm">Mark All</button>
                            </div>
                        </div>
                    </div>
                    <div class="researcher__publications__list">
                        <ul class="list-unstyled">
                            <li>
                                <input type="checkbox">
                                <i>2016</i> | <i>Journal Article</i><br />
                                <a href="#0">Decreased  β-amyloid1-42 in cerebrospinal fluid of patients with Creutzfeldt-Jakob disease</a><br />
                                <i>
                                    <em>Mohamed, Belal A., Schnelle, Moritz, Khadjeh, Sara, Lbik, Dawid, Herwig, Melissa, Linke, Wolfgang A., Hasenfuss, Gerd & Toischer, Karl</em>
                                </i> (2016) <br />
                                <i>European Journal of Heart Failure</i>
                                , <i>18</i>(4), 362 -371.
                            </li>
                            <li>
                                <input type="checkbox">
                                <i>2016</i> | <i>Journal Article</i><br />
                                <a href="#0">Decreased  β-amyloid1-42 in cerebrospinal fluid of patients with Creutzfeldt-Jakob disease</a><br />
                                <i>
                                    <em>Mohamed, Belal A., Schnelle, Moritz, Khadjeh, Sara, Lbik, Dawid, Herwig, Melissa, Linke, Wolfgang A., Hasenfuss, Gerd & Toischer, Karl</em>
                                </i> (2016) <br />
                                <i>European Journal of Heart Failure</i>
                                , <i>18</i>(4), 362 -371.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h3>Preset</h3>
                <p>Lorem ipsum dolor sit amut.</p>
                <div class="btn-group" role="group" aria-label="..." style="width: 100%;">
                    <button type="button" class="btn btn-primary" style="width: 50%;">Selected</button>
                    <button type="button" class="btn btn-default" style="width: 50%;">All</button>
                </div>
                <h3>Filters</h3>
                <h4>Author</h4>
                <h5>Selected Authors</h5>
                <div class="btn-group-vertical mod--full-width" role="group" aria-label="...">
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Bauer, Arthur</button>
                    <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> May, B.</button>
                </div>
                <h5>Select an Author</h5>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle mod--full-width" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Author
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu mod--full-width" aria-labelledby="dropdownMenu1" style="width: 100%;">
                        <li><a href="#0">Ott, Markus <span class="badge">5378</span></a></li>
                        <li><a href="#0">Wiltfang, Jens</a></li>
                        <li><a href="#0">Windl, Otto</a></li>
                        <li><a href="#0">Zerr, Inga</a></li>
                        <li><a href="#0">Bodemer, Monika</a></li>
                        <li><a href="#0">Haustein, S.</a></li>
                        <li><a href="#0">Lohmeier, Felix</a></li>
                        <li><a href="#0">Rodejohann, Christof</a></li>
                    </ul>
                </div>
                <h4>Date issued</h4>
                <div class="dropdown">
                    <button class="btn btn-default btn-sm dropdown-toggle mod--full-width" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Select a Date Range
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu mod--full-width" aria-labelledby="dropdownMenu1">
                        <li><a href="#0">2010 – 2018</li>
                            <li><a href="#0">1900 – 1999</a></li>
                        </ul>
                    </div>
                    <!-- <h4>Type</h4>
                        <div class="btn-group-vertical mod--full-width" role="group" aria-label="...">
                            <button type="button" class="btn btn-default btn-sm">Journal Article</button>
                        </div> -->
                        <h3>Options</h3>
                        <div class="dropdown">
                            <h4>Citation Style</h4>
                            <div class="btn-group-vertical btn-group-sm" role="group" style="width: 100%">
                                <input type="button" class="btn btn-default" name="" value="APA">
                                <input type="button" class="btn btn-default" name="" value="Chicago">
                                <input type="button" class="btn btn-default" name="" value="Default">
                            </div>
                            <h4>Embed</h4>
                            <h5>JavaScript</h5>
                            <textarea id="embed_js" onclick="this.focus();this.select()" row="4" readonly="readonly" style="white-space:normal; width: 100%; border: 1px solid black;">&lt;script type="text/javascript" charset="UTF-8" src="http://grodev.sub.uni-goettingen.de:80/cris/rp/rp01705/information.html?open=all&amp;filter_field_crisrp.publications_1=dateIssued&amp;filter_type_crisrp.publications_1=equals&amp;filter_value_crisrp.publications_1=%5B2010+TO+2018%5D&amp;submit_filter_remove_crisrp.publications_1=[2010%20TO%202018]&amp;ft=js&amp;cs=default"&gt;&lt;/script&gt;</textarea>
                            <h5>Link</h5>
                            <textarea id="embed_iframe" onclick="this.focus();this.select()" row="4" readonly="readonly" style="white-space:normal; width: 100%; border: 1px solid black;">&lt;a id="grolink" href="http://grodev.sub.uni-goettingen.de:80/cris/rp/rp01705/?" target="_blank"&gt;My Publication&lt;/a&gt;</textarea>
                            <h4>Export</h4>
                            <div class="btn-group-vertical btn-group-sm" role="group" style="width: 100%">
                                <input type="button" class="btn btn-default" name="" value="Refman">
                                <input type="button" class="btn btn-default" name="" value="Endnote">
                                <input type="button" class="btn btn-default" name="" value="Bibtex">
                                <input type="button" class="btn btn-default" name="" value="RefWorks">
                                <input type="button" class="btn btn-default" name="" value="Excel">
                                <input type="button" class="btn btn-default" name="" value="CSV">
                            </div>
                        </div>
                    </div>
                </div>
            </main>
