footer {
  color: #fff;
  padding-bottom: 32px;

  a {
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.footer__logos {
  @media (max-width: $screen-sm) {
    padding-top: 2rem;
    text-align: center;
  }

  img {
    max-width: 100%;
    padding-top: 16px;

    @media (max-width: $screen-xs) {
      max-width: 75%;
      width: 75%;
    }
    @media (min-width: $screen-sm) {
      max-width: 100%;
      width: 100%;
    }
  }
}

.footer__totop {
  text-align: right;

  .btn-link,
  .btn-link:hover {
    text-decoration: none;
  }
}

.footer__logo-row {
  @media (min-width: $screen-sm) {
    display: flex;
    align-items: center;
  }
}
