footer {
  color: #fff;
  padding-bottom: 32px;

  a {
    color: #fff;
    &:hover,
    &:focus,
    &:active {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.footer__logos {
  img {
    max-width: 100%;
    padding-top: 16px;
  }
}

.footer__totop {
  text-align: right;

  .btn-link,
  .btn-link:hover {
    text-decoration: none;
  }
}
