.home__features {
  img {
    max-width: 100%;
  }
}

.home__logo {
  width: 100%;
}


.home__search {

}

.home__search__searchfor,
.home__search__searchin {
  h3 {
    margin-top: 0;
  }
}

.home__search__searchin {
  margin-top: 0.5rem;
}
