.selected-publications--item-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  div:first-child {
    width: 30px;
    font-weight: bold;
  }

  div:nth-child(2) {
    flex: 1;
    font-weight: bold;
  }

  div:last-child {
    width: 50px;
    text-align: right;

  }
}

.manage-publications__search {
  margin: 22px 0;
}

.manage-publications__pagination {
  text-align: center;

  @media (min-width: $screen-sm) {
    text-align: right;
  }
}

.manage-publications__list-of-changes {
  li {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
  }

  div:first-child {
    width: 40px;
    flex-shrink: 0;
    text-align: center;
  }

  div:last-child {
    padding-left: 1rem;
  }
}
