.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: $brand-primary;
}

.navbar-collapse,
.navbar-inverse,
.navbar-form {
  border: 0;
  box-shadow: none;
}

.navbar-collapse,
.navbar-left {
  @media (min-width: $screen-sm) {
    padding-right: 0;
  }
}

.navbar-brand {
  @media (min-width: $screen-md) {
    height: 60px;
  }
}

.navbar-nav {
  @media (min-width: $screen-sm) {
    float: right;
  }
  @media (min-width: $screen-md) {
    padding-top: 4px;
  }
}

.navbar-form {
  text-align: right;
}

.navbar-brand {
  padding: 0;
}

.navbar-form {
  @media (max-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
}





.navbar-brand {
  display: flex;
  align-items: center;
}

.nav__the-list {
  padding: 0 0 1rem;

  a {
    color: #FFF;
    text-decoration: none;

    &:hover,
    &:active,
    &:hover,
    .active {
      font-weight: bold;
    }
  }

  .active {
    font-weight: bold;
  }

  ul {
    margin-top: 1.5rem;
  }

  .col-lg-8 {
    display: flex;
    align-items: center
  }

  .col-lg-4 {
    display: flex;
    justify-content: flex-end
  }
}
