.researchers__table {
  thead {
    th:nth-child(2) {
      display: none;
    }
  }
  tbody {
    td:nth-child(2) {
      display: none;
    }
  }
}

.researchers__search-input {
  @media (min-width: $screen-sm) {
    width: 75%;
  }
}
