.researcher__profile {
  dl {
    padding: 1rem;
  }
  dt {
    margin-bottom: 0.33rem;
  }
  dd {
    margin-bottom: 0.66rem;
  }
}

.researcher__options {
  margin-bottom: 1rem;
}


.researcher__admininfo {
  dl {
    margin-bottom: 0;
  }
}
