@import "jquery-ui-1.10.3.custom";
@import "researcher";
@import "jdyna";
@import "vars";
@import "./node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "font-awesome";
@import "style-orig";
@import "orcid";
@import "dataTables.bootstrap";
@import "buttons.bootstrap";
@import "responsive.bootstrap";
@import "bootstrap-datetimepicker";


.cc-window {
  display: none;
}

header,
footer {
  background-color: $brand-primary;
}

footer {
  color: white;
  padding-bottom: 32px;

  a {
    color: white;
    &:hover,
    &:focus,
    &:active {
      color: white;
      text-decoration: underline;
    }
  }
}

.footer__logos {
  img {
    max-width: 100%;
    padding-top: 16px;
  }
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  background-color: $brand-primary;
}

.navbar-collapse,
.navbar-inverse,
.navbar-form {
  border: 0;
  box-shadow: none;
}

.navbar-collapse,
.navbar-left {
  @media (min-width: $screen-sm) {
    padding-right: 0;
  }
}

.navbar-brand {
  @media (min-width: $screen-md) {
    height: 60px;
  }
}

.navbar-nav {
  @media (min-width: $screen-sm) {
    float: right;
  }
  @media (min-width: $screen-md) {
    padding-top: 4px;
  }
}

.navbar-form {
  text-align: right;
}

.navbar-brand {
  padding: 0;
}

.navbar-form {
  @media (max-width: $screen-md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.text-xs-center {
  @media (max-width: $screen-xs) {
    text-align: center;
  }
}

.text-sm-right {
  @media (min-width: $screen-sm) {
    text-align: right;
  }
}

.home__features {
  img {
    max-width: 100%;
  }
}

.home__logo {
  width: 100%;
}
