$brand-primary: #1a3771;

$navbar-default-bg: $brand-primary;
$navbar-inverse-bg: $brand-primary;
$navbar-default-link-color: white;
$navbar-inverse-color: $navbar-default-link-color;
$navbar-inverse-link-color: $navbar-default-link-color;
$navbar-inverse-link-disabled-bg: transparent;
$navbar-inverse-link-active-bg: transparent;
$navbar-inverse-link-hover-bg: transparent;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

$font-size-base: 16px;


$border-radius-base: 0;
$btn-border-radius-large: 0;
$btn-border-radius-small: 0;

// $input-border-focus:
